<p style="color: green"><%= notice %></p>

<% content_for :title, "User masters" %>

<h1>User masters</h1>

<div id="user_masters">
  <% @user_masters.each do |user_master| %>
    <%= render user_master %>
    <p>
      <%= link_to "Show this user master", user_master %>
    </p>
  <% end %>
</div>

<%= link_to "New user master", new_user_master_path %>
