<div id="<%= dom_id genre_master %>">
  <p>
    <strong>Genre:</strong>
    <%= genre_master.genre_id %>
  </p>

  <p>
    <strong>Genre name:</strong>
    <%= genre_master.genre_name %>
  </p>

</div>
