<p style="color: green"><%= notice %></p>

<% content_for :title, "Genre masters" %>

<h1>Genre masters</h1>

<div id="genre_masters">
  <% @genre_masters.each do |genre_master| %>
    <%= render genre_master %>
    <p>
      <%= link_to "Show this genre master", genre_master %>
    </p>
  <% end %>
</div>

<%= link_to "New genre master", new_genre_master_path %>
