<% content_for :title, "New genre master" %>

<h1>New genre master</h1>

<%= render "form", genre_master: @genre_master %>

<br>

<div>
  <%= link_to "Back to genre masters", genre_masters_path %>
</div>
